.wrapper{
    padding: 1%;
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid black;
    background-image: radial-gradient(rgb(243, 99, 99),lightcoral);
}
.a{
    margin-left: 30px;
    font-size: 18px;
    font-family: Georgia, serif;
    font-weight: 700;
}
.a:hover{
    cursor: pointer;
}
.logoImg{
    width: 100px;
}
.openCloseBtn > i,.close{
    padding: 2%;
    font-size: 30px;
}
.openCloseBtn{
    display: flex;
    justify-content: space-between;
}
.close{
    background-color: lightcoral;
    border:none;
}
.toggle{
    display: flex;
    border-bottom: 1px solid black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width:780px){
    .title{
        display: inline-block;
    }
    .wrapper{
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
}